<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <figure>
        <img
          src="../../../assets/image/notfound.png"
          class="w-100 h-100"
          alt="..."
          title="oops page not found"
        />
      </figure>
    </div>
    <div id="error-content" class="col-lg-6 col-xs-12">
      <div>
        <h1>
          <b>{{ "NOTFOUND.title" | translate }}</b>
        </h1>
        <p>
          <span [innerHTML]="'NOTFOUND.text' | translate"></span
          ><span
            ><b>{{ getUrl() }}</b></span
          >
        </p>
        <button class="button" (click)="previousPage()">
          {{ "NOTFOUND.button" | translate }}
        </button>
      </div>
    </div>
  </div>
</div>
