<footer class="w-100">
  <div class="w-75 contianer m-auto">
    <div id="footer-nav" class="row pt-5 mb-3">
      <div class="col-lg-5">
        <div class="vertical-center">
          <a
            href="/home"
            referrerpolicy="no-referrer"
            [routerLink]="['/home']"
            [class.active]="isActive('home')"
            class="m-2 link"
            >Home</a
          >
          <a
            href="/downloads"
            referrerpolicy="no-referrer"
            [routerLink]="['/downloads']"
            [class.active]="isActive('downloads')"
            class="m-2 link"
            >Downloads</a
          >
          <a
            href="/articles"
            referrerpolicy="no-referrer"
            [routerLink]="['/articles']"
            [class.active]="isActive('articles')"
            class="m-2 link"
            >Articles</a
          >
          <a
            href="/contact"
            referrerpolicy="no-referrer"
            class="m-2 link"
            (click)="notReady()"
            >Contact</a
          >
        </div>
      </div>
      <div id="footer-logo" class="col-lg-2 text-center">
        <figure class="vertical-center">
          <img
            src="../../../assets/images/Xeroxcore_logo_only.png"
            alt="..."
            class="w-75 h-75 m-auto"
            title="xeroxcore-logo"
          />
        </figure>
      </div>
      <div class="col-lg-5">
        <div class="vertical-center">
          <div class="text-right w-100">
            <button class="button m-1" (click)="notReady()">Sign in</button>
            <button class="button m-1" (click)="notReady()">Register</button>
          </div>
        </div>
      </div>
    </div>
    <div id="footer-social-media" class="row">
      <app-social-media></app-social-media>
    </div>
    <div id="rules-policy" class="row mb-5">
      <div class="m-auto">
        <a
          href="/termsofuse"
          referrerpolicy="no-referrer"
          class=" m-1 link"
          (click)="notReady()"
          >Terms of Use</a
        >
        <a
          href="/pagerules"
          referrerpolicy="no-referrer"
          class=" m-3 link"
          (click)="notReady()"
          >Page Rules</a
        >
        <a
          href="/privacypolicy"
          referrerpolicy="no-referrer"
          class=" m-1 link"
          (click)="notReady()"
          >Privacy Policy</a
        >
      </div>
    </div>
  </div>
  <div class="container-fluid lightgrey text-center">
    <div class="row p-2">
      <div class="col-lg-6 vertical-center">
        <p class="m-auto">
          © Copyright all rights reserved Xeroxcore {{ GetYear() }}
        </p>
      </div>
      <div class="col-lg-6 vertical-center">
        <a
          href="https://mcsunity.com"
          target="_blank"
          rel="noreferrer"
          referrerpolicy="no-referrer"
          (click)="createMessageBox('MCS Unity', 'https://mcsunity.com')"
          class="m-auto link"
          >Powered by MCS Unity</a
        >
      </div>
    </div>
  </div>
</footer>
