<div class="w-100 height">
  <div id="article-container" class="container">
    <app-filter
      [filterBar]="downloadsFilter.componentfilter"
      (select1)="setApp($event)"
      (select2)="setSource($event)"
    ></app-filter>
    <div class="row scroll">
      <div id="table-row" class="container my-2 w-90 filter box-shadow">
        <div class="row m-auto">
          <div class="col-xl-3 col-md-12 vertical-center my-2">
            <p class="m-50 bold">NAME</p>
          </div>
          <div class="col-xl-2 col-md-12 vertical-center my-2">
            <p class="m-25 bold">VERSION</p>
          </div>
          <div class="col-xl-2 col-md-12 vertical-center my-2">
            <p class="m-12 bold">DATE</p>
          </div>
          <div class="col-xl-2 col-md-12 vertical-center my-2">
            <p class="m--10 bold">SIZE</p>
          </div>
          <div class="col-xl-3 col-md-12 vertical-center my-2">
            <p class="m-0 bold">OPTIONS</p>
          </div>
        </div>
      </div>
      <div
        class="container my-2 article"
        *ngFor="let item of downloadsFilter.list"
        @cardAnimation
      >
        <div class="col-md-10 m-auto">
          <div class="row filter box-shadow">
            <div class="col-xl-3 col-md-12 vertical-center">
              <p class="m-0 bold">{{ item.title }}</p>
            </div>
            <div class="col-xl-2 col-md-12 vertical-center my-2">
              <p class="m-0 text">{{ item.version }}</p>
            </div>
            <div class="col-xl-2 col-md-12 vertical-center my-2">
              <p class="m-0 text">{{ item.date }}</p>
            </div>
            <div class="col-xl-1 col-md-12 vertical-center my-2">
              <p class="m-0 text">{{ item.size }}</p>
            </div>
            <div class="col-xl-4 col-md-12">
              <div class="text-center">
                <button class="button">View Hash</button>
                <a
                  href="../../../assets/images/robot.png"
                  class="button warning proceed"
                  download="robot.png"
                  >Download</a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
