@import "../../../styles.scss";

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 75px;
  height: 95px;
  z-index: 3;
  background-color: $white;
  z-index: 2;
  transition: all 600ms ease-in-out;

  @media (max-width: 812px) and (orientation: portrait) {
    height: 30px;
  }
}

#progress {
  position: fixed;
  top: 0;
  z-index: 1;
}

.open {
  @media (max-width: 812px) and (orientation: portrait) {
    height: 345px !important;
  }
}

#not-mobile {
  display: block;
  @media (max-width: 812px) and (orientation: portrait) {
    display: none;
  }
}

#mobile {
  display: none;
  @media (max-width: 812px) and (orientation: portrait) {
    display: block;
  }
}

div.box-shadow {
  overflow: hidden;
}

#logo {
  padding-right: 30px;
  img {
    width: 100%;
  }

  @media (max-width: 812px) and (orientation: portrait) {
    padding: 5px 0;
    img {
      width: auto !important;
    }
  }
}

.link {
  color: $dark;
}

.d-inline-block {
  @media (max-width: 812px) and (orientation: portrait) {
    display: block !important;
  }
}

#pages {
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  a {
    padding: 15px 20px;
  }

  @media (max-width: 812px) and (orientation: portrait) {
    border: none;

    a {
      display: block !important;
      width: 100%;
    }
  }
}

#lang {
  border-right: 1px solid $gray;

  a {
    padding: 15px 5px;
    color: $gray;
  }

  .selected {
    color: $dark;
    font-weight: 900;
  }

  @media (max-width: 812px) and (orientation: portrait) {
    border-right: none;
    a {
      padding: 15px 5px;
    }
  }
}

#social {
  a {
    font-size: 20px;
    padding: 15px 15px;
    color: $dark;
  }
}

.link {
  border-bottom: 4px;
}

.link:after {
  border-bottom: 4px solid $green;
}

.borders {
  padding: 0 30px;
}
