<div id="nav" class="box-shadow" [class.open]="openNav">
  <div class="d-flex align-items-center h-100">
    <div class="m-auto">
      <div id="logo" class="d-inline-block">
        <a id="not-mobile" href="/home" [routerLink]="['/home']">
          <img class="w-100" src="../../../assets/image/xeroxcore.png" alt="" />
        </a>
        <a id="mobile" (click)="showNav()">
          <img class="w-100" src="../../../assets/image/xeroxcore.png" alt="" />
        </a>
      </div>
      <div id="pages" class="d-inline-block borders">
        <a
          href="/home"
          [routerLink]="['/home']"
          class="link"
          [class.active]="isActive('home')"
          >{{ "HOME.home" | translate }}</a
        >
        <a
          href="/products"
          [routerLink]="['/products']"
          class="link"
          [class.active]="isActive('products')"
          >{{ "HOME.products" | translate }}</a
        >
        <a
          href="/contact"
          [routerLink]="['/contact']"
          class="link"
          [class.active]="isActive('contact')"
          >{{ "HOME.contact" | translate }}</a
        >
      </div>
      <div id="lang" class="d-inline-block borders">
        <a
          href=""
          class="link"
          (click)="changeLanguage('en')"
          [class.selected]="lang() == 'en'"
          >EN</a
        >
        <a
          href=""
          class="link"
          (click)="changeLanguage('th')"
          [class.selected]="lang() == 'th'"
          >TH</a
        >
        <a
          href=""
          class="link"
          (click)="changeLanguage('swe')"
          [class.selected]="lang() == 'swe'"
          >SWE</a
        >
      </div>
      <div id="social" class="d-inline-block">
        <a
          class="link"
          href="https://www.linkedin.com/company/xeroxcore/"
          target="_blank"
          rel="noreferrer"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a
          class="link"
          href="https://www.facebook.com/xeroxcore/"
          target="_blank"
          rel="noreferrer"
        >
          <i class="fab fa-facebook-square"></i>
        </a>

        <a
          class="link"
          href="https://github.com/Xeroxcore"
          target="_blank"
          rel="noreferrer"
        >
          <i class="fab fa-github-square"></i>
        </a>
      </div>
    </div>
  </div>
</div>
<mat-progress-bar
  id="progress"
  class="w-100"
  [mode]="'indeterminate'"
></mat-progress-bar>
