@import "../../../styles.scss";

#nav {
  position: fixed;
  top: 0;
  width: 100%;
  min-height: 75px;
  height: 95px;
  z-index: 3;
  background-color: $white;
  z-index: 1;

  @media (max-width: 812px) and (orientation: portrait) {
    height: auto;
  }
}

#logo {
  padding-right: 30px;
  img {
    width: 100%;
  }
}

.link {
  color: $dark;
}

#pages {
  border-left: 1px solid $gray;
  border-right: 1px solid $gray;
  a {
    padding: 15px 20px;
  }
}

#lang {
  border-right: 1px solid $gray;
  a {
    padding: 15px 5px;
    color: $gray;
  }

  .selected {
    color: $dark;
    font-weight: 900;
  }
}

#social {
  a {
    font-size: 20px;
    padding: 15px 15px;
    color: $dark;
  }
}

.active::after {
  transform: scaleX(1) !important;
}

.link {
  border-bottom: 4px;
}

.link:after {
  border-bottom: 4px solid $green;
}

.borders {
  padding: 0 30px;
}
