<div class="text-center mt-5">
  <h3 class="title">{{ title }}</h3>
</div>
<div class="container w-100">
  <div class="carousel">
    <div class="slider">
      <section>Content section 1</section>
      <section>Content section 2</section>
      <section>Content section 3</section>
      <section>Content section 4</section>
      <section>Content section 5</section>
    </div>
    <div class="controls">
      <button class="next" (click)="nextt()">
        <i class="material-icons">
          right
        </i>
      </button>
      <button class="prev" (click)="prevv()">
        <i class="material-icons">
          left
        </i>
      </button>
    </div>
  </div>
</div>
