@import '../../../../styles.scss';

#error-content {
  display: flex;
  align-items: center;
}

div.container {
  height: 100vh;
  display: flex;
  align-items: center;

  @media (max-width: 768px) {
    margin-top: 10vh;
    text-align: center;
    height: auto;
  }
}

.button {
  border-color: red;
  background-color: transparent;
  color: #fff;
  color: $dark;
  padding: 0.5rem 5rem;
}

.button:hover,
:focus {
  background: red !important;
}
