<div class="container">
  <div class="row">
    <div class="col-lg-6 col-xs-12">
      <figure>
        <img
          src="/assets/images/robot.png"
          class="w-100 h-100"
          alt="..."
          title="oops page not found"
        />
      </figure>
    </div>
    <div id="error-content" class="col-lg-6 col-xs-12">
      <div>
        <h1><b>Error 404 page Cant be found</b></h1>
        <p>
          The page that you are looking for does not exist or has been moved or
          deleted. We apoligize for the inconvinaice. <br />
          <br />
          The following page does not exist:{{ getUrl() }}
        </p>
        <button class="button" (click)="previusePage()">Go Back</button>
      </div>
    </div>
  </div>
</div>
