<div class="container-fluid">
  <div id="skewed"></div>
  <div id="main-contianer" class="row">
    <div class="col-lg-6 ">
      <div class="d-flex align-items-center h-100">
        <figure>
          <img
            class="w-100"
            src="assets/Xeroxcore_Logo.png"
            alt="..."
            title="Xeroxcore"
          />
        </figure>
      </div>
    </div>
    <div class="col-lg-6 dark">
      <div class="d-flex align-items-center h-100">
        <div id="welcome" class="text-center m-auto">
          <h1>WE’RE COMMING SOON</h1>
          <p>EFFICIENT - SECURE - MAINTAINABLE</p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="footer" class="w-100">
  <div class="container-fluid">
    <div class="row">
      <div class="col-lg-6 text-center">
        <p>Copyright 2020 All rights reserved MCS Unity Co., LTD</p>
      </div>
      <div class="col-lg-6"></div>
    </div>
  </div>
</div>
