@import "../../../styles.scss";

#marketing {
  color: $gray;
}

#mcs {
  color: $gray;
}

ul {
  list-style: none;
  padding: 0;
  text-decoration: none;
  li {
    padding: 5px 0;
    p {
      font-weight: 600;
    }
    a {
      color: $dark;
    }
  }
}

.center-tablet {
  @media (max-width: 1024px) {
    text-align: center;
  }
}

#footer-lang {
  margin-right: 10px;
  a {
    padding: 15px 5px;
    color: $gray;
  }

  .selected {
    color: $dark;
    font-weight: 900;
  }
}

#footer-social {
  a {
    font-size: 20px;
    padding: 15px 15px;
    color: $dark;
  }
}

.box-shadow {
  box-shadow: 0 0px 8px 0 rgba(0, 0, 0, 0.2);
}
