<div class="container-fluid box-shadow mt-5">
  <div class="row">
    <div class="container">
      <div class="row py-5 center-tablet">
        <div class="col-xl-2 col-md-12">
          <div id="logo" class="d-inline-block">
            <img src="../../../assets/image/xeroxcore.png" alt="" />
          </div>
        </div>
        <div class="col-xl-2 col-md-12">
          <div id="logo" class="d-inline-block">
            <ul>
              <li><p class="mb-0">Page Links</p></li>
              <li>
                <a
                  href="/home"
                  [routerLink]="['/home']"
                  class="link"
                  rel="noreferrer"
                  [class.active]="isActive('home')"
                  >{{ "HOME.home" | translate }}</a
                >
              </li>
              <li>
                <a
                  href="/products"
                  [routerLink]="['/products']"
                  class="link"
                  rel="noreferrer"
                  [class.active]="isActive('products')"
                  >{{ "HOME.products" | translate }}</a
                >
              </li>
              <li>
                <a
                  href="/contact"
                  [routerLink]="['/contact']"
                  class="link"
                  rel="noreferrer"
                  [class.active]="isActive('contact')"
                  >{{ "HOME.contact" | translate }}</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-12">
          <div id="logo" class="d-inline-block">
            <ul>
              <li><p class="mb-0">Important</p></li>
              <li>
                <a
                  href=""
                  class="link"
                  [routerLink]="['/legal:terms']"
                  rel="noreferrer"
                  [class.active]="isActive('terms')"
                  >{{ "HOME.terms" | translate }}</a
                >
              </li>
              <li>
                <a
                  href=""
                  class="link"
                  [routerLink]="['/legal:privacy']"
                  rel="noreferrer"
                  [class.active]="isActive('privacy')"
                  >{{ "HOME.privacy" | translate }}</a
                >
              </li>
            </ul>
          </div>
        </div>
        <div class="col-xl-2 col-md-12">
          <div id="logo" class="d-inline-block">
            <ul>
              <li><p class="mb-0">Interesting</p></li>
              <li>
                <a
                  href="/about"
                  [routerLink]="['/about']"
                  class="link"
                  rel="noreferrer"
                  [class.active]="isActive('about')"
                  >{{ "HOME.about" | translate }}</a
                >
              </li>
              <li>
                <a
                  href="/blog"
                  [routerLink]="['/blog']"
                  class="link"
                  rel="noreferrer"
                  [class.active]="isActive('blog')"
                  >{{ "HOME.blog" | translate }}</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div
    id="marketing"
    class="row text-center box-shadow d-flex align-items-center"
  >
    <div class="col-xl-4 py-3">
      <p class="m-0">
        © Copyright all rights reserved Xeroxcore
        {{ date | DateTime: "YYYY" }}
      </p>
    </div>
    <div class="col-xl-4 py-3">
      <a
        id="mcs"
        class="link"
        href="https://mcsunity.com"
        rel="noreferrer"
        target="_bland"
        >{{ "HOME.builtBy" | translate }}</a
      >
    </div>
    <div class="col-xl-4">
      <div id="footer-lang" class="d-inline-block borders">
        <a
          href=""
          class="link"
          rel="noreferrer"
          (click)="changeLanguage('en')"
          [class.selected]="lang() == 'en'"
          >EN</a
        >
        <a
          href=""
          class="link"
          rel="noreferrer"
          (click)="changeLanguage('th')"
          [class.selected]="lang() == 'th'"
          >TH</a
        >
        <a
          href=""
          class="link"
          rel="noreferrer"
          (click)="changeLanguage('swe')"
          [class.selected]="lang() == 'swe'"
          >SWE</a
        >
      </div>
      <div id="footer-social" class="d-inline-block">
        <a
          class="link"
          href="https://www.linkedin.com/company/xeroxcore/"
          target="_blank"
          rel="noreferrer"
        >
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a
          class="link"
          href="https://www.facebook.com/xeroxcore/"
          target="_blank"
          rel="noreferrer"
        >
          <i class="fab fa-facebook-square"></i>
        </a>

        <a
          class="link"
          href="https://github.com/Xeroxcore"
          target="_blank"
          rel="noreferrer"
        >
          <i class="fab fa-github-square"></i>
        </a>
      </div>
    </div>
  </div>
</div>
