<div class="container my-5">
  <div class="row">
    <div class="col-xl-6 col-md-6">
      <div>
        <h1 class="title">{{ "ABOUT.title" | translate }}</h1>
        <p [innerHTML]="'ABOUT.titleText' | translate"></p>
      </div>
    </div>
    <div class="col-xl-6 col-md-6">
      <img class="w-90" src="../../assets/image/about/about.png" alt="..." />
    </div>
  </div>
  <div class="row">
    <div class="col-xl-4 col-md-4">
      <h2 class="title">{{ "ABOUT.time" | translate }}</h2>
      <p>
        {{ "ABOUT.timeText" | translate }}
      </p>
    </div>
    <div class="col-xl-4 col-md-4">
      <h2 class="title">{{ "ABOUT.impact" | translate }}</h2>
      <p>
        {{ "ABOUT.impactText" | translate }}
      </p>
    </div>
    <div class="col-xl-4 col-md-4">
      <h2 class="title">{{ "ABOUT.cost" | translate }}</h2>
      <p>
        {{ "ABOUT.costText" | translate }}
      </p>
    </div>
  </div>
</div>
<app-banner [banner]="banner"></app-banner>
<app-hints [hints]="hints"></app-hints>
