<app-slider></app-slider>

<div class="w-99">
  <app-highlights
    title="Take action today, bring quality to your clients"
    subContent="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed
  quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro"
    [list]="benefitsList"
  ></app-highlights>
</div>

<div id="banner" class="container-fluid my-5 p-0">
  <div class="position-relative overlay w-100 h-100">
    <div class="position-absolute w-100 h-100 m-auto">
      <div class="vertical-center w-100 h-100 m-auto">
        <div class="text-center m-auto">
          <h2 id="banner-title" class="title w-75 m-auto">
            Developing your API with Xeroxcore is cheating because your
            development is on steroids.
          </h2>
          <div>
            <button class="button">Download</button>
          </div>
          <p>Don’t wait, speed up your development now</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="container-fluid pt-5"
  data-aos="zoom-in-down"
  data-aos-duration="1000"
>
  <div class="row">
    <div class="col-xl-8">
      <app-highlights
        title="Take action today, bring quality to your clients"
        subContent="Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit
        aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro"
        [list]="actionList"
      ></app-highlights>
    </div>
    <div class="col-xl-4 hide-tablet vertical-center">
      <figure class="w-100">
        <img
          class="w-100"
          src="../../assets/images/home/developer.png"
          alt="..."
          title=""
        />
      </figure>
    </div>
  </div>
</div>

<app-hotarticles></app-hotarticles>
<app-carousel></app-carousel>
