@import '../../../styles.scss';

#banner {
  height: 500px;
  background-image: url(../../../assets/images/home/banner.webp);
  background-position: center;
  background-size: cover;
  color: $white;
  #banner-title {
    font-size: 36px;
  }
}

.overlay {
  background-color: rgba(0, 0, 0, 0.3);
}

.w-99 {
  width: 99%;
}

.hide-tablet {
  @media (max-width: 1024px) {
    display: none;
  }
}
