<div class="w-100 height">
  <div id="article-container" class="container">
    <div class="row mb-3">
      <div class="col-xl-11 col-md-offset-0">
        <div class="container-fluid">
          <div id="filter" class="filter row box-shadow">
            <mat-form-field appearance="outline" class="col-xl-3">
              <mat-label>Type</mat-label>
              <mat-select [(value)]="types[0].value">
                <mat-option *ngFor="let type of types" [value]="type.value">
                  {{ type.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-xl-3">
              <mat-label>Choose a date</mat-label>
              <input matInput [matDatepicker]="picker" />
              <mat-datepicker-toggle
                matSuffix
                [for]="picker"
              ></mat-datepicker-toggle>
              <mat-datepicker #picker disabled="false"></mat-datepicker>
            </mat-form-field>
            <mat-form-field appearance="outline" class="col-xl-3">
              <mat-label>App name</mat-label>
              <mat-select [(value)]="sources[0].value">
                <mat-option
                  *ngFor="let source of sources"
                  [value]="source.value"
                >
                  {{ source.viewValue }}
                </mat-option>
              </mat-select>
            </mat-form-field>
            <div class="col-xl-3 center-mobile p-0">
              <div>
                <button class="button">Apply Filter</button>
                <button class="button warning">Reset Filter</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-1 p-0">
        <div class="action-container box-shadow vertical-center">
          <button id="bookmark" class=" m-auto">
            <i class="fa fa-bookmark m-auto"></i>
          </button>
        </div>
      </div>
    </div>
    <div class="row scroll">
      <div class="container my-2" *ngFor="let item of list">
        <div class="col-md-10 m-auto">
          <div class="row filter box-shadow">
            <div class="col-xl-2 col-md-12 vertical-center">
              <p class="m-0">{{ item.date }}</p>
            </div>
            <div class="col-xl-4 col-md-12 vertical-center my-2">
              <p class="m-0">{{ item.title }}</p>
            </div>
            <div class="col-xl-2 col-md-12 vertical-center my-2">
              <button class="badge {{ GetBadgeClass(item.badge) }}">
                {{ item.badge }}
              </button>
            </div>
            <div class="col-xl-4 col-md-12">
              <div>
                <button class="button">View Article</button>
                <button class="button warning proceed">Read Later</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
