<div class="w-100 height">
  <div id="article-container" class="container">
    <app-filter
      [filterBar]="articlesFilter.componentfilter"
      (select1)="setBadge($event)"
      (select2)="setApp($event)"
    ></app-filter>
    <div class="row scroll">
      <div
        class="container my-2 article"
        *ngFor="let item of articlesFilter.list"
        @cardAnimation
      >
        <div class="col-md-10 m-auto">
          <div class="row filter box-shadow">
            <div class="col-xl-2 col-md-12 vertical-center">
              <p class="m-0 bold text">{{ item.date }}</p>
            </div>
            <div class="col-xl-4 col-md-12 vertical-center my-2">
              <p class="m-0 bold text">{{ item.title }}</p>
            </div>
            <div class="col-xl-2 col-md-12 vertical-center my-2">
              <button class="badge {{ GetBadgeClass(item.badge) }}">
                {{ item.badge }}
              </button>
            </div>
            <div class="col-xl-4 col-md-12">
              <div>
                <button
                  class="button bold"
                  (click)="articleComponent.article = item"
                >
                  View Article
                </button>
                <button class="button bold warning proceed">Read Later</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<app-article></app-article>
