@import '../../../styles.scss';

#article-container {
  padding-top: 120px;
}

.filter {
  border-radius: 5px;
  background-color: red;
  height: 75px;
}

.height {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(66, 230, 149, 0.1) 10%,
    rgba(36, 150, 237, 0.1) 60%,
    rgba(255, 255, 255, 0.1) 100%
  );
}
