@import '../../../styles.scss';

#article-container {
  padding-top: 120px;
}

.action-container {
  background-color: $white;
  height: 80px;
  border-radius: 10px;
  @media (max-width: 1024px) {
    position: fixed;
    width: 81px;
    right: 0;
    top: 50vh;
    z-index: 1;
  }

  @media (max-width: 812px) {
    top: initial;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 0;
  }
}

#bookmark {
  width: 100%;
  height: 100%;
  text-align: center;
  background: transparent;
  border: none;
  font-size: 40px;
  display: flex;
}

.scroll {
  overflow-y: scroll;
  max-height: 75vh;
  @media (max-width: 1024px) and (orientation: portrait) {
    max-height: 70vh;
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    max-height: 47vh;
  }

  @media (max-width: 812px) and (orientation: portrait) {
    max-height: 57vh;
  }
  @media (max-width: 736px) and (orientation: portrait) {
    max-height: 47vh;
  }
}

.filter {
  border-radius: 10px;
  padding: 10px 15px;
  background-color: $white;
  @media (max-width: 1024px) and (orientation: portrait) {
    text-align: center;
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    text-align: center;
  }
}

.vertical-center {
  @media (max-width: 1024px) and (orientation: portrait) {
    display: block;
  }
  @media (max-width: 1024px) and (orientation: landscape) {
    display: block;
  }
}

.button {
  color: $dark;
  padding: 12px 15px;
  margin: 5px 0.35em 10px;
}

.height {
  height: 100vh;
  background: linear-gradient(
    180deg,
    rgba(66, 230, 149, 0.1) 10%,
    rgba(36, 150, 237, 0.1) 60%,
    rgba(255, 255, 255, 0.1) 100%
  );
  @media (max-width: 812px) and (orientation: landscape) {
    height: initial;
    padding: 10px 0;
  }
}

.badge {
  @media (max-width: 812px) {
    margin: auto;
  }
}

.center-mobile {
  @media (max-width: 1024px) {
    text-align: center;
  }
}

::ng-deep .mat-form-field-appearance-outline .mat-form-field-infix {
  padding: 0.5em 0;
}

::ng-deep .mat-form-field-wrapper {
  padding-bottom: 0;
  @media (max-width: 812px) {
    padding-bottom: 1.34375em;
  }
}
