<div id="slider" class="w-100 position-relative">
  <div id="background-text">
    <p class="title">{{ backgroundText }}</p>
  </div>
  <div class="container-fluid w-90 h-100">
    <div class="row h-100">
      <div class="col-xl-6 order-xl-2 vertical-center">
        <figure class="w-90">
          <img
            class="w-100"
            src="../../../assets/images/home/Development.png"
            alt="..."
            title=""
          />
        </figure>
      </div>
      <div class="col-xl-6 vertical-center">
        <div id="slider-text">
          <h1 class="title">Experiancing slow Development?</h1>
          <p class="w-75">
            Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut
            fugit, sed quia consequuntur magni dolores eos qui ratione
            voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
          </p>
          <button class="button">Download Now</button>
        </div>
      </div>
    </div>
  </div>
</div>
