<div id="slider" class="w-100 position-relative">
  <div id="background-text">
    <p class="title">{{ backgroundText }}</p>
  </div>
  <div class="container-fluid w-90 h-100">
    <div class="row h-100">
      <div class="col-xl-6 order-xl-2 vertical-center tablet-none">
        <figure class="w-90">
          <picture>
            <source
              srcset="../../../assets/images/home/development.webp"
              type="image/webp"
            />
            <source
              srcset="../../../assets/images/home/development.png"
              type="image/png"
            />
            <img
              class="w-100 h-100"
              src="../../../assets/images/home/development.png"
              alt="..."
              title=""
            />
          </picture>
        </figure>
      </div>
      <div class="col-xl-6 vertical-center mobile-mt-40px">
        <div id="slider-text">
          <h1 class="title">Experiencing slow Development?</h1>
          <p class="w-75">
            We can provide you with the proper means of development, empowering
            your teams with faster and more efficient application development.
            Don't let this potential pass by and check out our tools now.
          </p>
          <a
            href="/downloads"
            referrerpolicy="no-referrer"
            [routerLink]="['/downloads']"
            class="button"
            >Download Now</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
