@import '../../../../styles.scss';

#slider {
  height: 100vh;
  background: #fff;
  background: linear-gradient(
    180deg,
    rgba(66, 230, 149, 1) 0%,
    rgba(36, 150, 237, 0.5) 60%,
    rgba(255, 255, 255, 0.5) 100%
  );
  color: $white;
}

#slider-text {
  @media (max-width: 1024px) {
    text-align: center;
    h1 {
      font-size: 46px;
    }
    p {
      margin: auto;
    }
  }
}

.button {
  background-color: $green;
}

.title {
  font-size: 54px;
}

.w-90 {
  width: 90%;
}
