<div class="text-center my-5">
  <h3 class="title">{{ title }}</h3>
</div>
<div class="container-fluid mb-5">
  <div class="carousel">
    <div class="slider">
      <section *ngFor="let item of list">
        <figure class="text-center">
          <picture>
            <source
              srcset="../../assets/images/slider/{{ item }}.webp"
              type="image/webp"
            />
            <source
              srcset="../../assets/images/slider/{{ item }}.png"
              type="image/png"
            />
            <img
              class="w-75"
              src="../../assets/images/slider/{{ item }}.png"
              alt="..."
              title=""
            />
          </picture>
        </figure>
      </section>
    </div>
  </div>
</div>
