<div class="row mb-3">
  <div class="col-xl-11 col-md-offset-0">
    <div class="container-fluid">
      <div id="filter" class="filter row box-shadow">
        <mat-form-field appearance="outline" class="col-xl-3">
          <mat-label>{{ filterBar?.select1 }}</mat-label>
          <mat-select (selectionChange)="setSelect1Filter($event)">
            <mat-option
              *ngFor="let item of filterBar?.select1List"
              [value]="item.value"
            >
              {{ item.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xl-3">
          <mat-label>Choose a date</mat-label>
          <input matInput [matDatepicker]="picker" />
          <mat-datepicker-toggle
            matSuffix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker disabled="false"></mat-datepicker>
        </mat-form-field>
        <mat-form-field appearance="outline" class="col-xl-3">
          <mat-label>{{ filterBar?.select2 }}</mat-label>
          <mat-select (selectionChange)="setSelect2Filter($event)">
            <mat-option
              *ngFor="let item of filterBar?.select2List"
              [value]="item.value"
            >
              {{ item.viewValue }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <div class="col-xl-3 center-mobile p-0">
          <div>
            <button class="button" (click)="applyFilter()">
              Apply Filter
            </button>
            <button class="button warning" (click)="resetFilter()">
              Reset Filter
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-xl-1 p-0">
    <div class="action-container box-shadow vertical-center">
      <button id="bookmark" class=" m-auto">
        <i class="fa {{ filterBar?.faIcon }} m-auto"></i>
      </button>
    </div>
  </div>
</div>
