<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <div id="slider" class="slider">
        <div class="wrapper">
          <div id="slides" class="slides">
            <span *ngFor="let item of items" class="slide">
              <div class="row">
                <div class="col-xl-4 text-center" *ngFor="let img of item.img">
                  {{ img }}
                </div>
              </div>
            </span>
          </div>
        </div>
        <a id="prev" class="control prev"></a>
        <a id="next" class="control next"></a>
      </div>
    </div>
  </div>
</div>
