<div class="w-100 box-shadow py-3">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <owl-carousel-o [options]="customOptions">
          <ng-template class="text-center" carouselSlide>
            <div class="text-center">
              <img
                class="w-75"
                src="../../../assets/image/technology/angular.png"
                alt="..."
              />
            </div>
          </ng-template>
          <ng-template class="text-center" carouselSlide>
            <div class="text-center">
              <img
                class="w-75"
                src="../../../assets/image/technology/postgresql.png"
                alt="..."
              />
            </div>
          </ng-template>
          <ng-template class="text-center" carouselSlide>
            <div class="text-center">
              <img
                class="w-75"
                src="../../../assets/image/technology/netcore.png"
                alt="..."
              />
            </div>
          </ng-template>
          <ng-template class="text-center" carouselSlide>
            <div class="text-center">
              <img
                class="w-75"
                src="../../../assets/image/technology/docker.png"
                alt="..."
              />
            </div>
          </ng-template>
          <ng-template class="text-center" carouselSlide>
            <div class="text-center">
              <img
                class="w-75"
                src="../../../assets/image/technology/azure.png"
                alt="..."
              />
            </div>
          </ng-template>
          <ng-template class="text-center" carouselSlide>
            <div class="text-center">
              <img
                class="w-75"
                src="../../../assets/image/technology/aws.png"
                alt="..."
              />
            </div>
          </ng-template>
        </owl-carousel-o>
      </div>
    </div>
  </div>
</div>
