<div
  class="container-fluid m-auto"
  data-aos="zoom-in-down"
  data-aos-duration="1000"
>
  <div class="row">
    <div class="m-auto">
      <div class="text-center">
        <h3 class="title">{{ title }}</h3>
        <p class="w-75 m-auto pb-4">{{ subContent }}</p>
      </div>
      <div class="row">
        <div
          *ngFor="let item of list"
          data-aos="zoom-in-down"
          data-aos-delay="100"
          data-aos-offset="200"
          class="pb-3 action m-auto text-center"
        >
          <figure class="w-100 m-auto pb-2">
            <img
              class="m-auto"
              src="../../assets/images/home/{{ item.img }}"
              alt=".."
              title=""
            />
          </figure>
          <figcaption class="w-60 m-auto text-center">
            {{ item.text }}
          </figcaption>
        </div>
      </div>
    </div>
  </div>
</div>
