@import "../../../styles.scss";

#background {
  background: rgb(46, 15, 58);
  background: linear-gradient(
    180deg,
    rgba(46, 15, 58, 1) 0%,
    rgba(60, 20, 76, 0.73)
  );
  transition: all 1s ease-in-out;
  min-height: 30vh;
  height: 83.5vh;

  @media (max-width: 1024px) {
    height: 100vh;
  }

  @media (max-width: 812px) {
    height: auto;
  }
}

#image {
  @media (max-width: 1024px) and (orientation: landscape) {
    display: none;
  }

  @media (max-width: 736px) and (orientation: portrait) {
    display: none;
  }
}

.banner {
  padding-top: 85px;
}

div.w-90 {
  @media (max-width: 1024px) and (orientation: portrait) {
    margin: 0 auto;
  }

  @media (max-width: 736px) and (orientation: landscape) {
    margin: 0 auto;
  }
}

.highlight {
  height: 40vh !important;
  padding-bottom: 25px;

  @media (max-width: 1136px) and (orientation: portrait) {
    min-height: 25vh !important;
    height: 25vh !important;
  }

  @media (max-width: 1024px) and (orientation: portrait) {
    height: 35vh !important;
  }

  @media (max-width: 1024px) and (orientation: landscape) {
    height: 45vh !important;
  }

  @media (max-width: 812px) and (orientation: landscape) {
    height: 100vh !important;
  }

  @media (max-width: 736px) and (orientation: landscape) {
    height: 120vh !important;
  }

  @media (max-width: 736px) and (orientation: portrait) {
    height: 85vh !important;
  }
}

.remove {
  min-height: 0 !important;
  height: 0 !important;
}

.auto-tablet {
  @media (max-width: 1024px) and (orientation: portrait) {
    margin: auto;
  }
}

h1 {
  font-size: 48px;

  @media (max-width: 812px) and (orientation: landscape) {
    padding-top: 120px;
    font-size: 28px;
  }

  @media (max-width: 736px) {
    padding-top: 95px;
    font-size: 28px;
  }
}

p {
  font-size: 24px;
  @media (max-width: 736px) {
    font-size: 18;
  }
}
