<div id="background" class="container-fluid">
  <div class="container-fluid h-100">
    <div class="row h-100">
      <div class="col-xl-6 f-white">
        <div class="d-flex align-items-center h-100">
          <div>
            <h1 class="title">Experiencing slow Development?</h1>
            <p>
              We can provide you with the proper means of development,
              empowering your teams with faster and more efficient application
              development. Don't let this potential pass by and check out our
              tools now.
            </p>
          </div>
        </div>
      </div>
      <div class="col-xl-6 f-white">
        <div>
          <div class="d-flex align-items-center h-100">
            <div>
              <img src="" alt="..." />
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
