<div
  id="background"
  class="container-fluid"
  [class.highlight]="!isActive('home')"
>
  <div
    class="h100"
    [class.container-fluid]="isActive('home')"
    [class.container]="!isActive('home')"
  >
    <div class="row h100">
      <div
        id="image"
        class="col-xl-6 order-xl-6 f-white"
        *ngIf="isActive('home')"
      >
        <div class="d-flex align-items-center h100">
          <div class="auto-tablet">
            <img
              class="w-100"
              src="../../../assets/image/home/development.png"
              alt="..."
            />
          </div>
        </div>
      </div>
      <div
        class="f-white"
        [class.col-xl-6]="isActive('home')"
        [class.col-xl-12]="!isActive('home')"
      >
        <div
          class="d-flex align-items-center h100"
          [class.banner]="!isActive('home')"
        >
          <div class="w-90" [class.m-auto]="isActive('home')">
            <h1 class="title">{{ title | translate }}</h1>
            <p>
              {{ text | translate }}
            </p>
            <a
              href="/products"
              [routerLink]="['/products']"
              class="button d-inline-block mt-5"
              *ngIf="isActive('home')"
            >
              {{ "HOME.slideButton" | translate }}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
