@import "../../../styles.scss";

#background {
  background: rgb(46, 15, 58);
  background: linear-gradient(
    180deg,
    rgba(46, 15, 58, 1) 0%,
    rgba(60, 20, 76, 0.73)
  );
  transition: all 1s ease-in-out;
  min-height: 30vh;
  height: 83.5vh;

  @media (max-width: 1024px) {
    height: 100vh;
  }

  @media (max-width: 812px) {
    height: auto;
  }
}

#image {
  @media (max-width: 1024px) and (orientation: landscape) {
    display: none;
  }

  @media (max-width: 736px) and (orientation: portrait) {
    display: none;
  }
}

.banner {
  align-items: flex-end !important;
}

.highlight {
  height: 35vh !important;
  padding-bottom: 30px;
}

.remove {
  min-height: 0 !important;
  height: 0 !important;
}

.auto-tablet {
  @media (max-width: 1024px) and (orientation: portrait) {
    margin: auto;
  }
}

h1 {
  font-size: 48px;
}

p {
  font-size: 24px;
}
